* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #111827; 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 8px;
}

#logo {
    height: 35vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
}

img {
    width: 100%;
    height: auto;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 400px;
    background-color: #374151;
    padding: 30px;
    border-radius: 16px;
}

.login-form {
    /* border: solid yellow; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 100%;
    margin-top: 16px;
}

.form_field {
    display: flex;
    flex-direction: column;
    width: 100%;
}

h1 {
    font-size: 1.5rem;
    text-align: center;
    color: #fff;
    margin-top: 16px;

}

label {
    color: #ffffff;
    font-size: 0.875rem;
    margin-bottom: 8px;
    cursor: default;
}

input {
    border: 1px solid;
    transition: border-color 0.3s ease;
    background-color: #111827;
    padding: 1rem;
    border-radius: 16px;
    color: #ffffff;
    font-size: 1rem;
}

input:-webkit-autofill {
    -webkit-text-fill-color: #ffffff !important; 
    -webkit-box-shadow: 0 0 0 1000px #111827 inset !important;
    box-shadow: 0 0 0 1000px #111827 inset !important;
    transition: background-color 5000s ease-in-out 0s;
    border: 1px solid #ffffff !important;
}


input::placeholder {
    color: rgba(255, 255, 255, 0.6); 
}
  

input:focus {
    outline: none;
    border: solid 2px #9333EA;
}

button {
    background-color: #9333EA;
    color: #fff;
    font-size: 1.25rem;
    border: 0;
    padding: 1rem;
    border-radius: 16px;
    cursor: pointer;
}

@media (min-width: 768px) {
    body {
        flex-direction: row;
        justify-content: space-evenly;
    }

    #logo {
        height: 50vh;
        width: 30vw;
        margin-bottom: 0;
    }

    .login-container {
        width: 25%;
        padding: 40px;
    }

    h1 {
        font-size: 2rem;
    }

    button {
        font-size: 1.5rem;
        padding: 1.2rem;
    }
}